@{
    ViewData["Title"] = "Home Page";
}

@model Wedding

<div class = "d-flex justify-content-between mb-5">
    <h1>@Model.WedderOne & @Model.WedderTwo</h1>
    <a href="/Home/Success">Dashboard</a>
    <a href="/Logout">Logout</a>
</div>

<h2>@Model.Date</h2>
<h2>Guests:</h2>
@foreach (var g in @Model.Guests)
{
    <p>@g.User.FirstName</p>
}
